@import url("/home/nathan/.cache/ulauncher_cache/themes/dark/generated.css");

@import url("theme.css");

.input {
    caret-color: #d3869b;
}

/* workaround for a bug in GTK+ < 3.20 */
.selected.item-box {
    border: none;
}
