@define-color backgroundColour #282828;
@define-color accentColour #458588;
@define-color textColour #ebdbb2;

.app {
    background-color: @backgroundColour;
    border-color: @backgroundColour;
    border-radius: 14px;
}

.input {
    color: @textColour;
}

.input *:selected,
.input *:focus,
*:selected:focus {
    background-color: alpha(@accentColour, 0.4);
    color: @textColour;
}

.item-text {
    color: @textColour;
}

.item-name {
    color: @textColour;
    font-size: 1.2rem;
}

.selected.item-box {
    background-color: alpha(@accentColour, 0.3);
    border-radius: 14px;
}

.selected.item-box .item-text {
    color: @textColour;
}

.selected.item-box .item-name {
    color: @textColour;
    font-size: 1.2rem;
}

.item-shortcut {
    color: @textColour;
}

.selected.item-box .item-shortcut {
    color: @textColour;
}

.selected.item-box {
    color: @accentColour;
}

.prefs-btn {
    opacity: 1;
}

.prefs-btn:hover {
    background-color: alpha(@accentColour, 1.0);
}
